.wrapper {
  &:global(.leftScrollable) {
    .scrollableLeft::after {
      opacity: 1;
    }
  }
  &:global(.rightScrollable) {
    .scrollableRight::before {
      opacity: 1;
    }
  }
}

.headRow,
.bodyRow,
.tailRow {
  @apply bg-base-200 border-base-300 text-base-content;
  @apply h-12;
  @apply flex items-center;
  .cell {
    @apply bg-base-200 border-base-300;
    @apply h-full py-0;
    @apply flex items-center;
  }

  :global(.form-single-input::after) {
    top: 0.75rem;
    right: 0;
  }
}

.bodyRow {
  @apply bg-base-100;
  .cell {
    @apply bg-base-100;
    --bgColor: hsl(var(--b2));
  }
  .content {
    @apply w-full h-full flex items-center px-4 py-0;
  }
  &:hover,
  &:focus-within {
    .cell {
      --bgColor: hsl(var(--bc) / 0.1);
    }
    .content {
      background: hsl(var(--bc) / 0.1);
    }
    @media (prefers-color-scheme: dark) {
      .cell {
        --bgColor: hsl(var(--b2));
      }
    }
  }
}

.tailRow {
  @apply h-auto min-h-12;
}

.cell {
  --bgColor: hsl(var(--b3));
  &.scrollableLeft::after {
    opacity: 0;
    content: '';
    position: absolute;
    width: calc(1rem);
    height: 100%;
    top: 0;
    right: -1rem;
    background-image: linear-gradient(to right, var(--bgColor), transparent);
    transition: opacity 0.2s;
  }

  &.scrollableRight::before {
    opacity: 0;
    content: '';
    position: absolute;
    width: calc(1rem);
    height: 100%;
    top: 0;
    left: -1rem;
    background-image: linear-gradient(to left, var(--bgColor), transparent);
    transition: opacity 0.2s;
  }
}
