.tabsWrapper {
  display: block;
  > * {
    vertical-align: middle;
  }
  overflow-y: hidden;
  &::-webkit-scrollbar {
    // TODO: hide scrollbar temporary
    display: none;
    background-color: transparent;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: hsl(var(--b3));
  }
}
