body {
  @apply border-base-content/10;
  .btn,
  button,
  input,
  textarea {
    outline: none !important;
    &:not(.no-shadow) {
      &.focus,
      &:focus {
        @apply ring ring-secondary ring-inset;
        // NOTE: as @apply border-secondary;
        border-color: hsl(var(--s) / 1) !important;
      }
    }
  }
}

.alert {
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
}

// NOTE: add clickable style like button
.clickable {
  cursor: pointer;
  animation: button-pop var(--animation-btn, 0.25s) ease-out;
  text-transform: var(--btn-text-case, uppercase);
  &:active:hover,
  &:active:focus {
    animation: none;
    transform: scale(var(--btn-focus-scale, 0.95));
  }
}
