@import './mixins.scss';

// NOTE: import tailwindcss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *:not(input) {
    user-select: none;
  }

  .logo-text-mark {
    @include _svgMark(url(../assets/text-mark.svg));
  }

  .logo-feature-mark {
    @include _svgMark(url(../assets/feature-mark.svg));
  }

  .content-visibility-hidden {
    content-visibility: hidden;
  }

  // NOTE: override daisyui
  &.safari {
    input,
    btn {
      outline: none !important;
    }
  }
  .checkbox-accent,
  .btn-accent {
    --ac: 0 0% 100%;
  }
  @media (min-width: 768px) {
    .drawer-mobile {
      grid-auto-columns: max-content auto;
      & > .drawer-toggle {
        & ~ .drawer-content {
          @apply h-auto md:col-start-2;
        }
        & ~ .drawer-side {
          @apply overflow-y-auto;
          & > .drawer-overlay {
            @apply md:visible;
          }
          & > .drawer-overlay + * {
            @apply md:translate-x-0;
          }
        }
      }
    }
  }
  .clickable {
    animation: button-pop var(--animation-btn, 0.25s) ease-out;
    text-transform: var(--btn-text-case, uppercase);
    &:active:hover,
    &:active:focus {
      animation: none;
    }
    &:active:hover,
    &:active:focus {
      transform: scale(var(--btn-focus-scale, 0.95));
    }
  }
}
