// NOTE: import tailwindcss
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

// NOTE: import custom
@import './mixins.scss';
@import './daisy-ui.scss';
@import './rc-collapse.scss';
@import './rc-dropdown.scss';
@import './rc-select.scss';

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *:not(input) {
    user-select: none;
  }

  .logo-text-mark {
    @include _svgMark(url(../assets/text-mark.svg));
  }

  .logo-feature-mark {
    @include _svgMark(url(../assets/feature-mark.svg));
  }
}

.disabled-scroll {
  overflow: hidden !important;
}
