@import './functions.scss', './variables.scss';

@mixin _color-button($color) {
  background-color: $color;
  border-color: $color;
  &:hover,
  &:focus {
    $color-hover: color-lighten($color);
    background-color: $color-hover;
    border-color: $color-hover;
  }
  &:active {
    $color-active: color-darken($color);
    background-color: $color-active;
    border-color: $color-active;
  }
}

@mixin _color-input($color) {
  &.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled),
  &.ant-input {
    &:focus,
    &.ant-input-affix-wrapper-focused:not(.ant-input-affix-wrapper-status-error) {
      border-color: $color;
      box-shadow: 0 0 0 2px transparentize($color, $amount: 0.8);
    }
    &:hover {
      border-color: $color;
    }
  }
}

@mixin _color-link($color) {
  &.ant-btn {
    color: $color;
    &:hover,
    &:focus {
      $color-hover: color-lighten($color);
      color: $color-hover;
    }
    &:active {
      $color-active: color-darken($color);
      color: $color-active;
    }
  }
}

@mixin _input-affix($margin-lr, $prefix: true) {
  margin: 0 $margin-lr;
  height: 100%;
  position: absolute;
  z-index: 1;
  @if $prefix {
    left: 0;
  } @else {
    right: 0;
  }
}

@mixin _input(
  $font-size,
  $padding-tb,
  $padding-lr,
  $has-prefix: false,
  $has-suffix: false
) {
  border-radius: $border-radius-base;
  padding: 0;
  &.ant-input {
    padding: $padding-tb $padding-lr;
  }
  .ant-input,
  > input.ant-input {
    border-radius: $border-radius-base;
    padding: $padding-tb $padding-lr;
    $affix-width: $padding-lr + $font-size + $padding-lr;
    @if $has-prefix {
      padding-left: $affix-width;
    }
    @if $has-suffix {
      padding-right: $affix-width;
    }
  }
  .ant-input-prefix {
    @include _input-affix($padding-lr, true);
  }
  .ant-input-suffix {
    @include _input-affix($padding-lr, false);
  }
}

@mixin _code-github-light {
  /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
  .hljs {
    color: #24292e;
    background: #fff;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #d73a49;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #6f42c1;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #005cc5;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #032f62;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #e36209;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #6a737d;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #22863a;
  }
  .hljs-subst {
    color: #24292e;
  }
  .hljs-section {
    color: #005cc5;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #735c0f;
  }
  .hljs-emphasis {
    color: #24292e;
    font-style: italic;
  }
  .hljs-strong {
    color: #24292e;
    font-weight: 700;
  }
  .hljs-addition {
    color: #22863a;
    background-color: #f0fff4;
  }
  .hljs-deletion {
    color: #b31d28;
    background-color: #ffeef0;
  }
}

@mixin _code-github-dark {
  /*!
    Theme: GitHub Dark Dimmed
    Description: Dark dimmed theme as seen on github.com
    Author: github.com
    Maintainer: @Hirse
    Updated: 2021-05-15
  
    Colors taken from GitHub's CSS
  */
  .hljs {
    color: #adbac7;
    background: #22272e;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-meta .hljs-keyword,
  .hljs-template-tag,
  .hljs-template-variable,
  .hljs-type,
  .hljs-variable.language_ {
    color: #f47067;
  }
  .hljs-title,
  .hljs-title.class_,
  .hljs-title.class_.inherited__,
  .hljs-title.function_ {
    color: #dcbdfb;
  }
  .hljs-attr,
  .hljs-attribute,
  .hljs-literal,
  .hljs-meta,
  .hljs-number,
  .hljs-operator,
  .hljs-selector-attr,
  .hljs-selector-class,
  .hljs-selector-id,
  .hljs-variable {
    color: #6cb6ff;
  }
  .hljs-meta .hljs-string,
  .hljs-regexp,
  .hljs-string {
    color: #96d0ff;
  }
  .hljs-built_in,
  .hljs-symbol {
    color: #f69d50;
  }
  .hljs-code,
  .hljs-comment,
  .hljs-formula {
    color: #768390;
  }
  .hljs-name,
  .hljs-quote,
  .hljs-selector-pseudo,
  .hljs-selector-tag {
    color: #8ddb8c;
  }
  .hljs-subst {
    color: #adbac7;
  }
  .hljs-section {
    color: #316dca;
    font-weight: 700;
  }
  .hljs-bullet {
    color: #eac55f;
  }
  .hljs-emphasis {
    color: #adbac7;
    font-style: italic;
  }
  .hljs-strong {
    color: #adbac7;
    font-weight: 700;
  }
  .hljs-addition {
    color: #b4f1b4;
    background-color: #1b4721;
  }
  .hljs-deletion {
    color: #ffd8d3;
    background-color: #78191b;
  }
}
