.rc-select {
  @apply select border border-base-content/20;
  @apply inline-block relative p-0;
  @apply text-base font-normal;

  // ============== Selector ===============
  .rc-select-selection-placeholder {
    @apply text-gray-400 pointer-events-none;
  }

  // ============== Search ===============
  .rc-select-selection-search-input {
    appearance: none;
    &::-webkit-search-cancel-button {
      display: none;
      appearance: none;
    }
  }

  &-open {
    &::before {
      content: '';
      cursor: default;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: transparent;
    }
  }

  // ============== Single ==============
  &-single {
    .rc-select-selector {
      @apply w-full h-full flex relative;
      .rc-select-selection-search {
        @apply w-full h-full;
        &-input {
          @apply w-full h-full;
        }
      }

      .rc-select-selection-item,
      .rc-select-selection-placeholder {
        @apply w-full h-full absolute top-0 left-0 pointer-events-none;
        @apply flex items-center justify-center;
        @apply pl-4 pr-10;
      }
    }
    &.select-sm {
      @apply p-0;
      height: 2rem;
      min-height: 2rem;
      .rc-select-selection-item,
      .rc-select-selection-placeholder {
        @apply pl-3 pr-9;
      }
    }
  }

  // ============== Dropdown ===============
  &-dropdown {
    @apply absolute z-50 overflow-hidden;
    @apply border-base-content/20 border rounded-lg;
    @apply bg-base-300/60 backdrop-blur-xl;
    &-hidden {
      @apply hidden;
    }

    .rc-select-item-option-content {
      @apply pr-4;
    }
  }

  // =============== Option ================
  &-item {
    // >>> Group
    &-group {
      @apply px-4 py-1 font-bold text-xs text-base-content/40;
    }

    // >>> Option
    &-option {
      @apply h-10 relative rounded-lg;
      &.option-sm {
        height: 30px;
      }

      &-content {
        @apply w-full;
      }

      &-grouped {
        padding-left: 24px;
      }

      .rc-select-item-option-state {
        @apply absolute right-2 pointer-events-none;
      }

      // ------- Active -------
      &-active {
        @apply bg-primary text-primary-content;
      }

      // ------ Disabled ------
      &-disabled {
        color: #999;
      }
    }

    // >>> Empty
    &-empty {
      text-align: center;
      color: #999;
    }
  }
}
