$border-radius-base: 6px;
$primary-color: #0396ff;
$secondary-color: #32ccbc;
$header-height: 48px;

// for board view
$board-background-color: rgba(215, 215, 215, 0.4);
$column-addon-width: 32px;
$column-background-color: white;
$column-border-radius: $border-radius-base;
$column-gutter: 16px;
$column-gutter-half: 8px;
$column-header-height: 50px;
$column-header-line-height: 40px;
$column-placeholder-color: rgba(46, 62, 79, 0.45);
$column-width: 280px;
