@import '../../styles/variables.scss';
$card-height: 96px;
$font-color: rgba(0, 0, 0, 0.45);
$background-color: rgba(0, 0, 0, 0.12);

.wrapper {
  .label {
    display: block;
    margin-bottom: 8px;
    :global {
      .anticon {
        margin-right: 4px;
      }
    }
  }
}

.creator {
  height: $card-height;
  background-color: $background-color;
  .title {
    color: $font-color;
    text-align: center;
    margin: 0;
  }
  :global {
    .ant-card-body {
      height: 100%;
      padding: 37px 8px;
    }
    .anticon {
      margin-right: 4px;
    }
  }
}

.item {
  height: $card-height;
  position: relative;
  overflow: hidden;
  &:hover {
    .background {
      transform: scale(1.1);
    }
    .foreground {
      background-color: rgba(0, 0, 0, 0.26);
    }
  }
  .foreground {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.14);
  }

  .title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 6px 0 8px 0;
    color: rgba(255, 255, 255, 0.96);
  }

  :global {
    .ant-card-body {
      height: 100%;
      padding: 0px;
      border-radius: $border-radius-base;
    }
  }
}
