.wrapper {
  .mainView {
    background-color: transparent;
  }

  .sideView {
    background-color: rgba(#ffffff, 0.36);
  }
}

.projectListView {
  .creatorWrapper {
    padding: 24px 24px 0 24px;
  }
}
.projectListEmpty {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.createWorkspaceView {
  width: 100%;
  height: 100%;
  min-height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;

  .body {
    flex: auto;
    margin: 0 16px;
    max-width: 360px;
  }
}
