.wrapper {
  user-select: none;
  -webkit-app-region: drag;
  z-index: 5;
  .logo {
    height: 54px;
  }
  :global {
    .ant-menu {
      width: 100%;
      border: none;
    }
    .ant-layout-sider-children {
      padding-left: 12px;
      padding-right: 12px;
      .ant-menu-item {
        border-radius: 6px;
      }
    }
    .ant-menu-item-selected::after {
      border-right: none;
    }
    .ant-layout-header,
    .ant-layout-footer {
      height: auto;
      padding: 24px 0;
      text-align: center;
      background-color: transparent;
    }
  }
}
