.wrapper {
  :global {
    .rc-collapse-item-disabled {
      .rc-collapse-header {
        cursor: default;
      }
    }
    .rc-collapse-header {
      @apply text-base-content/70 rounded-lg h-12 py-2 pr-2 pl-3 my-1 items-center;
      @apply hover:bg-base-content/10;

      .rc-collapse-extra > * {
        display: none;
      }
      &:hover,
      &:focus {
        .rc-collapse-extra > * {
          display: block;
        }
      }
    }
    .rc-collapse-header-text {
      @apply flex-auto overflow-hidden;
    }
    .rc-collapse-content-box {
      @apply p-0;
    }
  }
}
